<div class="container">
    <!-- <form (ngSubmit)="onSubmit()" class="example-form"> -->
    <form class="example-form">
  
        <div class="display-6">
          <h1>Registro de datos de usuario</h1>
        </div>

        <mat-form-field class="example-full-width">
          <mat-label>Nombres</mat-label>
          <input type="text" matInput [(ngModel)]="firstname" name="firstname">
          <mat-icon matSuffix>text_fields</mat-icon>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <mat-label>Apellidos</mat-label>
          <input type="text" matInput [(ngModel)]="lastname" name="lastname">
          <mat-icon matSuffix>text_fields</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Nombre de usuario:</mat-label>
          <input type="text" matInput [(ngModel)]="user" name="user">
          <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput [(ngModel)]="pass" name="pass">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <mat-label>Confirmar contraseña</mat-label>
          <input type="password" matInput [(ngModel)]="confirmpass" name="confirmpass">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <mat-label>Correo electrónico</mat-label>
          <input type="email" matInput [(ngModel)]="email" name="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <mat-label>Confirmar correo electrónico</mat-label>
          <input type="email" matInput [(ngModel)]="emailconfirm" name="emailconfirm">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
  
        <br>      
        <button type="submit" (click)="onSubmit()" mat-raised-button color="primary">Iniciar sesión</button>
  
    </form>
  </div>
