.log-out-button{
    background-color: #3f51b5;
    /* background-color: white; */
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
    height: 60px;
    width: 60px;

}

/* Añade una nueva clase para el botón cuando está en estado hover */
.log-out-button:hover {
    background-color: white;
    cursor: pointer; /* Cambia el cursor cuando pasa por encima */
  }
  
  /* Establece un color diferente para el botón cuando está en el menú abierto */
  .log-out-button.mat-menu-trigger {
    background-color:#3f51b5;
  }