<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="/usuarios">Usuario</a>
      <a mat-list-item href="/Clientes">Clientes</a>
      <a mat-list-item href="/Carrito">Carrito</a>
      <a mat-list-item href="/Finalizar_compra">Finalización de compra</a>
      <a mat-list-item href="/Historial">Historial de compras</a>
      <a mat-list-item href="/producto">Productos</a>
      <a mat-list-item href="/catalogo">Catalogo</a>
      <a mat-list-item href="/Opinions">Opiniones y Reseñas</a>
      <a mat-list-item href="/pedido">Pedido</a>
      <a mat-list-item href="/detallePedido">Detalle Pedido</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>TiendaVirtual</span>
      <div class="avatar-container">
        <ngx-avatars name="User Name"></ngx-avatars>        
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <ngx-avatars name="John Doe"></ngx-avatars> -->